
body {
	background-color: lightgoldenrodyellow
}
h1 {
	margin-bottom: 15px;
    font-size: 55px;
    color: red;
	background-color:aqua;
	text-align: center;
	}
h2 {
	font-size: 30 px;
	color: yellow;
	text-align: center;
	background-color: slateblue;

	}
h3{
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: left;
	font-size: 20 px;
	
	}
.hotmess {
	margin-left: 0;
	margin-right:auto;
	display: block;
	box-shadow: 10px 10px 5px red;

	}

#hometitle {
	font-size: 100px;
	background-color: transparent;
	font-family: fantasy;
	font-style: normal;
}
.pagetitle {
	font-size: 80px;
	background-color: transparent;
	font-family: fantasy;
	font-style: normal;
}

.box {
	min-height: 50px;
	padding: 5px;
	padding-top: 20px;
	margin: 5px;
	font-weight: 800;
	text-decoration-line: underline;
	color: #fff;
	line-height: 40px;
	background: lightsalmon

  }

.box a {  
	color: #fff;
	line-height: 40px;
  }
.linespace {
	margin-bottom: 150px
}
/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: lightyellow;
	position: fixed;
	height: 500px;
	overflow: auto;
  }
  
/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
  }
  
  /* Active/current link */
.sidebar a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  /* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
	margin-left: auto;
	padding: 5px 16px;
	height: auto;
  }
.sidebar img {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 150px; /* Set a small width */
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
	  visibility: hidden;
	}
	